<form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>Iniciar sesion</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="correo" formControlName="email">
              <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
                El correo es<strong> requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="contraseña" formControlName="password" input type="password">
                <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
                  La contraseña es requerido<strong> requerida</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="!loginForm.valid" type="submit">Ingresar</button>
      </mat-card-actions>
    </mat-card>
  </form>
  