<form [formGroup]="EmployeeForm"  (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>{{titulo}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>


      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombre Empleado" formControlName="name">
            <mat-error *ngIf="EmployeeForm.controls['name'].hasError('required')">
              El nombre del empleado es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [disabled]="!EmployeeForm.valid" type="submit">{{accion}}</button>
    </mat-card-actions>
  </mat-card>
</form>
