<form [formGroup]="SubAreaForm" (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>SubArea</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombre de Area" formControlName="area">
            <mat-error *ngIf="SubAreaForm.controls['area'].hasError('required')">
              Nombre de Area es <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Nombre de SubArea" formControlName="subarea"></textarea>
            <mat-error *ngIf="SubAreaForm.controls['subarea'].hasError('required')">
              Nombre de SubArea es <strong>requerida</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

    
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Registrar</button>
    </mat-card-actions>
  </mat-card>
</form>
