<form [formGroup]="addressFormOrderActivity" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Ordenes de Actividad</mat-card-title>
    </mat-card-header>
    <mat-card-content>
   
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Id de Orden" formControlName="id_order">
            <mat-error *ngIf="addressFormOrderActivity.controls['id_order'].hasError('required')">
              El ID de Orden<strong> es requerida</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="ID de actividad" formControlName="id_activity"></textarea>
            <mat-error *ngIf="addressFormOrderActivity.controls['id_activity'].hasError('required')">
              El ID de Actividad<strong> requerida</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Fecha de entrada" formControlName="entryDate"></textarea>
            <mat-error *ngIf="addressFormOrderActivity.controls['entryDate'].hasError('required')">
              La fecha de entrada <strong> requerida</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Estado" formControlName="status"></textarea>
            <mat-error *ngIf="addressFormOrderActivity.controls['status'].hasError('required')">
              El estado es<strong> requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Fecha de salida" formControlName="outDate"></textarea>
            <mat-error *ngIf="addressFormOrderActivity.controls['outDate'].hasError('required')">
              La fecha de salida es<strong> requerida</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Registrar</button>
    </mat-card-actions>
  </mat-card>
</form>
