<form [formGroup]="OrderEmployeeForm" (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Orden de Empleado</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombre Orden de Actividad" formControlName="orderactivity">
            <mat-error *ngIf="OrderEmployeeForm.controls['orderactivity'].hasError('required')">
              El numero de orden de actividad es <strong>Requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombre Empleado" formControlName="nameemployee">
            <mat-error *ngIf="OrderEmployeeForm.controls['nameemployee'].hasError('required')">
              El nombre del empleado es <strong>Requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
        

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Registrar</button>
    </mat-card-actions>
  </mat-card>
</form>
